<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Open_Book</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/lib/core/core.css" />
    <link rel="stylesheet" href="~/lib/fonts/feather-font/css/iconfont.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/loader.css" />
    @await RenderSectionAsync("Stylesheets", false)
</head>
<body>
    <div class="main-wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="/" class="sidebar-brand mx-auto">
                    <span>BOO</span>K
                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">
                    <li class="nav-item nav-category">Main</li>
                    <li class="nav-item @(ViewBag.MainMenu == "Dashboard" ? "active" : "")">
                        <a href="/" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
@*                     <li class="nav-item @(ViewBag.MainMenu == "Chart" ? "active" : "")">
                        <a href="/" class="nav-link">
                            <i class="link-icon" data-feather="pie-chart"></i>
                            <span class="link-title">Report</span>
                        </a>
                    </li>
 *@                    <li class="nav-item nav-category">Admin</li>
                    <li class="nav-item @(ViewBag.MainMenu == "Book" ? "active" : "")">
                        <a href="/book" class="nav-link">
                            <i class="link-icon" data-feather="edit-3"></i>
                            <span class="link-title">Datatable</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.MainMenu == "Scrap" ? "active" : "")">
                        <a href="/scrap" class="nav-link">
                            <i class="link-icon" data-feather="table"></i>
                            <span class="link-title">Scrap</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-wrapper">

            <!-- partial:partials/_navbar.html -->
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="bell"></i>
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="notificationDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-bottom">
                                    <a href="/document/index"></a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-center badge rounded-pill bg-primary p-2" alt="profile">Andri</span>
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
                                <ul class="list-unstyled p-1">
                                    <li class="dropdown-item py-2">
                                        <a href="/auth/logout" class="d-flex align-items-center text-body w-100">
                                            <i class="me-2 icon-md" data-feather="log-out"></i>
                                            <span>Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <div class="modal" id="modal-loading" tabindex="-1" role="dialog" aria-labelledby="modal-normal" aria-hidden="true">
            <div class="row h-100 align-items-center">
                <div class="modal-dialog" role="document">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/core/core.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/dashboard-light.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
